In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# KNN

In [12]:
df = pd.read_csv(r'C:\Users\Lenovo\OneDrive\Desktop\extra\BANK LOAN.csv')
df.shape

(700, 8)

In [13]:
df.isnull().sum()

SN           0
AGE          0
EMPLOY       0
ADDRESS      0
DEBTINC      0
CREDDEBT     0
OTHDEBT      0
DEFAULTER    0
dtype: int64

In [14]:
df.head()

   SN  AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0   1    3      17       12      9.3     11.36     5.01          1
1   2    1      10        6     17.3      1.36     4.00          0
2   3    2      15       14      5.5      0.86     2.17          0
3   4    3      15       14      2.9      2.66     0.82          0
4   5    1       2        0     17.3      1.79     3.06          1

In [18]:
df=df.drop(["SN"],axis=1)

In [19]:
df.head()

   AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0    3      17       12      9.3     11.36     5.01          1
1    1      10        6     17.3      1.36     4.00          0
2    2      15       14      5.5      0.86     2.17          0
3    3      15       14      2.9      2.66     0.82          0
4    1       2        0     17.3      1.79     3.06          1

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('DEFAULTER',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [22]:
scaled_features = scaler.transform(df.drop('DEFAULTER',axis=1))

In [23]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

        AGE    EMPLOY   ADDRESS   DEBTINC  CREDDEBT   OTHDEBT
0  1.434635  1.294313  0.545664 -0.140798  4.635137  0.594115
1 -1.180585  0.242201 -0.334101  1.031818 -0.091439  0.286673
2  0.127025  0.993709  0.838919 -0.697790 -0.327768 -0.270375
3  1.434635  0.993709  0.838919 -1.078890  0.523016 -0.681312
4 -1.180585 -0.960214 -1.213867  1.031818  0.111804  0.000539

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(scaled_features,df['DEFAULTER'],test_size=0.30)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
knn = KNeighborsClassifier(n_neighbors=1)

In [28]:

knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [29]:
pred = knn.predict(X_test)

In [30]:
from sklearn.metrics import classification_report,confusion_matrix

In [31]:
print(confusion_matrix(y_test,pred))

[[131  27]
 [ 28  24]]

In [32]:

print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.82      0.83      0.83       158
           1       0.47      0.46      0.47        52

    accuracy                           0.74       210
   macro avg       0.65      0.65      0.65       210
weighted avg       0.74      0.74      0.74       210

# Decision Tree

In [33]:
df = pd.read_csv(r'C:\Users\Lenovo\OneDrive\Desktop\extra\BANK LOAN.csv')
df.shape

(700, 8)

In [34]:
df.head()

   SN  AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0   1    3      17       12      9.3     11.36     5.01          1
1   2    1      10        6     17.3      1.36     4.00          0
2   3    2      15       14      5.5      0.86     2.17          0
3   4    3      15       14      2.9      2.66     0.82          0
4   5    1       2        0     17.3      1.79     3.06          1

In [35]:
df=df.drop(["SN"],axis=1)

In [36]:
df.head()

   AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0    3      17       12      9.3     11.36     5.01          1
1    1      10        6     17.3      1.36     4.00          0
2    2      15       14      5.5      0.86     2.17          0
3    3      15       14      2.9      2.66     0.82          0
4    1       2        0     17.3      1.79     3.06          1

In [38]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test= train_test_split(X,y)

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [42]:
dtree= DecisionTreeClassifier(max_leaf_nodes=3)

In [43]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=3,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
predictions= dtree.predict(X_test)

In [45]:
from sklearn.metrics import classification_report, confusion_matrix

In [46]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.79      0.88      0.83       128
           1       0.52      0.36      0.43        47

    accuracy                           0.74       175
   macro avg       0.65      0.62      0.63       175
weighted avg       0.72      0.74      0.72       175

# SVM

In [47]:
df = pd.read_csv(r'C:\Users\Lenovo\OneDrive\Desktop\extra\BANK LOAN.csv')
df.shape

(700, 8)

In [48]:
df=df.drop(["SN"],axis=1)

In [49]:
df.head()

   AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0    3      17       12      9.3     11.36     5.01          1
1    1      10        6     17.3      1.36     4.00          0
2    2      15       14      5.5      0.86     2.17          0
3    3      15       14      2.9      2.66     0.82          0
4    1       2        0     17.3      1.79     3.06          1

In [50]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y)

In [52]:
from sklearn import svm

In [54]:
clf = svm.SVC()
clf.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [55]:
predictions= clf.predict(X_test)

In [56]:
from sklearn.metrics import classification_report, confusion_matrix

In [57]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.95      0.89       128
           1       0.79      0.47      0.59        47

    accuracy                           0.82       175
   macro avg       0.81      0.71      0.74       175
weighted avg       0.82      0.82      0.81       175

# Logistic Regression

In [58]:
df = pd.read_csv(r'C:\Users\Lenovo\OneDrive\Desktop\extra\BANK LOAN.csv')
df.shape

(700, 8)

In [59]:
df=df.drop(["SN"],axis=1)

In [60]:
df.head()

   AGE  EMPLOY  ADDRESS  DEBTINC  CREDDEBT  OTHDEBT  DEFAULTER
0    3      17       12      9.3     11.36     5.01          1
1    1      10        6     17.3      1.36     4.00          0
2    2      15       14      5.5      0.86     2.17          0
3    3      15       14      2.9      2.66     0.82          0
4    1       2        0     17.3      1.79     3.06          1

In [61]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y)

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
clf = LogisticRegression(random_state=0).fit(X, y)

In [65]:
predictions= clf.predict(X_test)

In [66]:
from sklearn.metrics import classification_report, confusion_matrix

In [67]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.87      0.89      0.88       133
           1       0.63      0.57      0.60        42

    accuracy                           0.82       175
   macro avg       0.75      0.73      0.74       175
weighted avg       0.81      0.82      0.81       175